@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  text-align: center !important;
  font-family: Poppins, 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #fff;
  height: 100%;
}
input {
  border: none;
}

input:focus {
  outline: 2px solid #65769a;
}

button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
button {
  height: 40px;
  border-radius: 10px;
  width: 100% !important;
  background: none;
  border-left: none;
  background-color: #65769a;
  border: none;
  color: white;
  font-weight: 300;
  font-size: 16px;
}
input[type='text'] {
  background: transparent;
  border: 1px solid gray;
  width: 100% !important;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
  height: 40px;
}

input[type='text']::placeholder {
  color: gray;
  font-weight: 300;
}
label {
  font-size: 14px;
  font-weight: 300;
  text-align: left !important;
}
.customurl {
  text-align: left !important;
}
input[type='checkbox'] {
  background-color: #65769a;
  margin-bottom: 5px !important;
  margin-top: 17px !important;
}

.form {
  margin-top: 15%;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  height: 37vh;
  text-align: center !important;
  display: inline-table;
  padding: 2rem;
  width: 60vw;
  padding-bottom: 13px;
}
p {
  margin: 0;
  text-align: left !important;
  margin-bottom: 10px;
  font-weight: 400;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1300% 1300%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin-top: 0;
  text-align: left !important;
  font-weight: 900;
  font-family: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer {
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

[type='checkbox']:focus {
  outline: none;
}

[type='checkbox']:checked {
  color: #65769a;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  border-color: transparent;
  background-color: #65769a !important;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: bottom;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: white !important;
  background-color: white !important;
  border-width: 1px;
  border-radius: 0.25rem !important;
  margin-left: 5px;
  border: 1px solid gray;
  --tw-border-opacity: 1;
}
